/* Carrousel.css */

.carrousel-container {
    width: 70%; /* Ajustez la largeur selon vos besoins */
    margin: auto; /* Centrez le carrousel horizontalement */
  }
  
  .color-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  
  .color-buttons button {
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  .color-thumbnail {
    width: 30px; /* Ajustez la taille selon vos besoins */
    height: auto;
  }
  
  .carrousel-image {
    width: 100%; /* Remplacez w-50 par 100% pour que l'image occupe toute la largeur du conteneur */
    height: auto;
  }
  
  .carrousel-info {
    text-align: center;
  }
  
  /* Ajoutez d'autres styles nécessaires selon vos besoins */
  